/* Apply basic styles */
body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
  }
  
  header {
    background-color: #1a1919;
    color: white;
    padding: 10px 0;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;

}
  
  nav li {
    display: inline;
    justify-self: end;
    margin-right: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: white;
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
  }
  
  .product {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 2%;
    padding: 20px;
    text-align: center;
    margin: 10px;
    width: 30%;
    box-sizing: border-box;
  }
  
  .product img {
    max-width: 100%;
    height: auto;
  }
  .product img:hover {
    /* transition: background-color 0.3s ease-out ; */
    cursor: pointer;
  }
  .price {
    font-weight: bold;
    color: #007bff;
  }
  
  button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5%;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
  }
  
  /* Media queries for responsiveness */
  @media (max-width: 768px) {
    /* main body on 768px screen (tablet) */
    main {
      flex-direction: column;
      align-items: center;
    }
  /* width of section on 768px screen */
    .product {
      width: 90%;
    }
  }
  
  @media (max-width: 480px) {
    /*  nav text (ul) is centered on 480px screen (mobile large) */
    nav ul {
      text-align: center;
    }
  
    nav li {
      display: block;
      margin-bottom: 10px;
    }
  }
  

form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

 h1, p{
  text-align: center;
  font-family: Arial, sans-serif;
  font-weight: bold;
}

label,
input,
textarea {
    display: block;
    margin-bottom: 10px;
    width: 100%;
}

input[type="text"],
input[type="email"],
textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

/* Responsive styles */
@media screen and (max-width: 600px) {
    form {
        padding: 10px;
    }

    input[type="text"],
    input[type="email"],
    textarea {
        padding: 5px;
    }

    input[type="submit"] {
        padding: 8px 16px;
    }
}


.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    /* bottom: 0; */
    width: 100%;
}
